<% show_post ||= false %>

<div class="row"> 
  <div class="span1 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: "post", remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
      <br/>
      <span id="comment_<%= comment.to_param %>_vote"><%= comment.vote_total.to_s + (comment.vote_total == 1 ? " vote" : " votes") %></span>
      <br/>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: "post", remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>

  <div class = "span8 well">
    <em>"<%= comment.body %>"</em>
    <% if show_post %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <p>
      <span class="quiet">by</span> <%= link_to comment.creator.user_name, user_path(comment.creator) %>
      <small>at <%= pretty_date_time(comment.created_at) %></small>
    </p>
  </div>
</div>
