<div class="row"> 
  <div class="span1 well text-center">
    <% if logged_in? %>
        <%= link_to vote_post_path(post, vote:true), method: "post", remote: true do %>
          <i class="icon-arrow-up"></i>
      <% end %>
      <br/>
      <span id="post_<%= post.to_param %>_vote"><%= post.vote_total.to_s + (post.vote_total == 1 ? " vote" : " votes") %></span>
      <br/>
        <%= link_to vote_post_path(post, vote: false), method: "post", remote: true do %>
          <i class="icon-arrow-down"></i>
      <% end %>
    <% else %>
      <%= post.vote_total.to_s + (post.vote_total == 1 ? " vote" : " votes") %>
    <% end %>
  </div>
  <div class = "span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by</span> <%=link_to post.creator.user_name, user_path(post.creator) %>
      <small>at <%= pretty_date_time(post.created_at) %></small>
    </p>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
  </div>
</div>