<% if (logged_in? && current_user == @post.creator) && current_user.admin? %>
  <p class="pull-right">
    [<%= link_to "edit this post", edit_post_path(@post) %>]
  </p>  
<% end %>

<p>
  <%= render @post.categories %>  
  <br>
</p>

<p> 
  <span class="lead"><%= post_title = link_to @post.title, fix_url(@post.url)  %></span>
  &nbsp&nbsp
  <small><span class="muted"> by </span> <%= link_to @post.creator.user_name, user_path(@post.creator) %></small>
</p>

<hr/>

<p>
  <%= @post.description %> 
</p>

<hr>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= render "shared/error", obj: @comment %>
    <div class="control-group">
      <%= f.label :body, "Leave a comment:" %>
      <%= f.text_area :body, rows: 3, class: "span4" %>
    </div>
    <%= f.submit "Create Comment", class: "btn btn-primary" %>  
  <% end %>
<% end %>

<% @post.reload.comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>
